<div style="margin-left:0px;margin-right:80px">
    The City of Portland complies with all non‐discrimination, Civil Rights laws including Civil Rights Title VI and

    ADA Title II. To help ensure equal access to City programs, services and activities, the City of Portland will reasonably modify policies/procedures and

    provide auxiliary aids/services to persons with disabilities. Call 503-823-5185, TTY 503-823-6868 or Oregon Relay Service: 711 with such requests, or visit

   <a href="http://bit.ly/13EWaCg">http://bit.ly/13EWaCg</a>
    &nbsp;



</div>